<h1>Push Notifications</h1>
<div id="push-notifications-disabled" style="display:none">
  <p>If you enable push notifications, you will receive a desktop notification telling you when your query is finished running.</p>
  <button id="enable-push-notifications">Enable Push Notifications</button>
</div>

<div id="push-notifications-enabled" style="display:none">
  <p>Thank you for activating push notifications!</p>
</div>

<div id="welcome" style="display:none">
  <p>Welcome to Omoikane!</p>
</div>
