<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Omoikane</title>
  <link rel="stylesheet" href="/css/foundation.min.css" />
  <link rel="stylesheet" href="/css/foundation-icons.css" />
  <link rel="stylesheet" href="/css/omoikane.css" />
  <link rel="stylesheet" href="/css/solarized_light.css" />
  <link rel="stylesheet" href="/css/c3.css" />
  <script src="/js/vendor/modernizr.js"></script>
  <% if session[:author] then %>
    <meta name="x-omoikane-author" content="<%=h session[:author] %>" />
  <% end %>
  <% if pusher_app_key then %>
    <meta name="x-omoikane-pusher-app-key" content="<%=h pusher_app_key %>" />
  <% end %>
</head>
<body>
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
      <h1><a href="/">Omoikane</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
    <ul class="right">
      <li class="has-form right">
      <form method="get" action="/search">
        <div class="row collapse">
          <div class="small-12 columns">
            <input type="search" name="q" placeholder="Search">
          </div>
        </div>
      </form>
      </li>
    </ul>
    <ul class="left">
      <li><a href="/queries/new">New Query</a></li>
      <li><a href="/runs">Runs</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/projects/new">New Project</a></li>
    </ul>
    </section>
    </nav>
  </div>

  <%= yield %>

  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/highlight.pack.js"></script>
  <script src="/js/pusher.min.js" type="text/javascript"></script>
  <script src="/js/d3.min.js" charset="utf-8"></script>
  <script src="/js/c3.min.js"></script>

  <!-- required to be last, since we initialize highlight.js in it -->
  <script src="/js/app.js"></script>
</body>
</html>
