<div class="row">
  <div class="small-12 columns">
    <h1>Projects List</h1>

    <ul class="large-block-grid-3 projects-list">
      <li>
      <div class="panel">
        <div class="right">
          <small><a href="/project/1234/edit"><i class="fi-pencil" title="Edit"></i> Edit</a></small>
        </div>
        <h4><a href="/project/1234/runs/new">Netflix EOM</a></h4>
        <p><small>by Pablo</small></p>
      </div>
      </li>

      <li>
      <div class="panel">
        <div class="right">
          <small><a href="/project/1234/edit"><i class="fi-pencil" title="Edit"></i> Edit</a></small>
        </div>
        <h4><a href="/project/1234/runs/new">La Voix weekly</a></h4>
        <p><small>by Ousmane</small></p>
      </div>
      </li>
    </ul>
  </div>
</div>
