.job-state {
  padding-top: 2px;
}

.jobs-list p {
  margin-bottom: 0;
}

textarea {
  font-family: Monaco, "Courier New";
}

.author {
  text-transform: capitalize;
}

.delete .button.alert {
  top: -90px;
}
